#!/usr/bin/make -sf

DIR=debian/redo

.PHONY: build binary install clean

build:
	package/compile

binary: install
	${RM} debian/files debian/substvars
	dpkg-shlibdeps "${DIR}"/usr/local/bin/*
	dpkg-gencontrol -predo -P"${DIR}"
	dpkg -b "${DIR}" ../

install:
	install -d -m 0755 "${DIR}"/DEBIAN
	package/export "${DIR}"/usr/local/

clean:
	${RM} debian/files debian/substvars
	package/clean
